resources/ideService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ide" targetNamespace="http://gisis.imo.org/XML/LRIT/2008" xmlns:surpic="http://gisis.imo.org/XML/LRIT/sarSurpicRequest/2008" xmlns:pricingRequest="http://gisis.imo.org/XML/LRIT/pricingRequest/2008" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gisis.imo.org/XML/LRIT/2008" xmlns:posrep="http://gisis.imo.org/XML/LRIT/positionReport/2008" xmlns:posreq="http://gisis.imo.org/XML/LRIT/positionRequest/2008" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:receipt="http://gisis.imo.org/XML/LRIT/receipt/2008" xmlns:pricingUpdate="http://gisis.imo.org/XML/LRIT/pricingUpdate/2008" xmlns:systemStatus="http://gisis.imo.org/XML/LRIT/systemStatus/2008" xmlns:journalReport="http://gisis.imo.org/XML/LRIT/journalReport/2008" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://gisis.imo.org/XML/LRIT/2008">
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/positionReport/2008" schemaLocation="xsd0.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/positionRequest/2008" schemaLocation="xsd2.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/sarSurpicRequest/2008" schemaLocation="xsd3.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/receipt/2008" schemaLocation="xsd4.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/systemStatus/2008" schemaLocation="xsd5.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/journalReport/2008" schemaLocation="xsd6.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/pricingRequest/2008" schemaLocation="xsd7.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/pricingUpdate/2008" schemaLocation="xsd8.xsd"/>
			
			<xs:simpleType name="responseType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="tns:responseType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="ReceiptRequest">
    <wsdl:part name="params" element="receipt:Receipt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReceiptResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PricingRequestResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SystemStatusRequest">
    <wsdl:part name="params" element="systemStatus:SystemStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ShipPositionReportRequest">
    <wsdl:part name="params" element="posrep:ShipPositionReport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PricingUpdateRequest">
    <wsdl:part name="params" element="pricingUpdate:PricingUpdate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="JournalReportResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DDPUpdateResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PricingUpdateResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PricingRequestRequest">
    <wsdl:part name="params" element="pricingRequest:PricingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="JournalReportRequest">
    <wsdl:part name="params" element="journalReport:JournalReport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ShipPositionRequestResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SARSURPICRequestRequest">
    <wsdl:part name="params" element="surpic:SARSURPICRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SystemStatusResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ShipPositionReportResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ShipPositionRequestRequest">
    <wsdl:part name="params" element="posreq:ShipPositionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SARSURPICRequestResponse">
    <wsdl:part name="params" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="idePortType">
    <wsdl:operation name="ShipPositionReport">
      <wsdl:input message="tns:ShipPositionReportRequest">
    </wsdl:input>
      <wsdl:output message="tns:ShipPositionReportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShipPositionRequest">
      <wsdl:input message="tns:ShipPositionRequestRequest">
    </wsdl:input>
      <wsdl:output message="tns:ShipPositionRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SARSURPICRequest">
      <wsdl:input message="tns:SARSURPICRequestRequest">
    </wsdl:input>
      <wsdl:output message="tns:SARSURPICRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receipt">
      <wsdl:input message="tns:ReceiptRequest">
    </wsdl:input>
      <wsdl:output message="tns:ReceiptResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemStatus">
      <wsdl:input message="tns:SystemStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:SystemStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JournalReport">
      <wsdl:input message="tns:JournalReportRequest">
    </wsdl:input>
      <wsdl:output message="tns:JournalReportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PricingRequest">
      <wsdl:input message="tns:PricingRequestRequest">
    </wsdl:input>
      <wsdl:output message="tns:PricingRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PricingUpdate">
      <wsdl:input message="tns:PricingUpdateRequest">
    </wsdl:input>
      <wsdl:output message="tns:PricingUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ideServiceBinding" type="tns:idePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ShipPositionReport">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShipPositionRequest">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SARSURPICRequest">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receipt">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemStatus">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JournalReport">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PricingRequest">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PricingUpdate">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ideService">
    <wsdl:port name="idePort" binding="tns:ideServiceBinding">
      <soap12:address location="http://localhost:8080/ide"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
