resources/xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://gisis.imo.org/XML/LRIT/types/2008" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://gisis.imo.org/XML/LRIT/types/2008">
    <xs:simpleType name="lritIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The LRIT identifier is a four digit, unique identifier assigned to each
Contracting Government, ASP, Data Centre, and SAR Service.  In
addition, the LRIT DDP server and IDE will each be assigned an LRIT id.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-4][0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="contractingGovernmentLRITIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The LRIT identifier is a four digit, unique identifier assigned to each
Contracting Government, ASP, Data Centre, and SAR Service.  In
addition, the LRIT DDP server and IDE will each be assigned an LRIT id.

A Contracting Government's LRIT id will be in the 1000-1999 range.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="lritIDType">
            <xs:pattern value="[1][0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sarServiceLRITIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The LRIT identifier is a four digit, unique identifier assigned to each
Contracting Government, ASP, Data Centre, and SAR Service.  In
addition, the LRIT DDP server and IDE will each be assigned an LRIT id.

A SAR Service's LRIT id will be in the 2000-2999 range.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="lritIDType">
            <xs:pattern value="[2][0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dataCentreLRITIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The LRIT identifier is a four digit, unique identifier assigned to each
Contracting Government, ASP, Data Centre, and SAR Service.  In
addition, the LRIT DDP server and IDE will each be assigned an LRIT id.

A DataCentre's LRIT id will be in the 3000-3999 range.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="lritIDType">
            <xs:pattern value="[3][0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="aspLRITIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The LRIT identifier is a four digit, unique identifier assigned to each
Contracting Government, ASP, Data Centre, and SAR Service.  In
addition, the LRIT DDP server and IDE will each be assigned an LRIT id.

An ASP's LRIT id will be in the 4000-4999 range.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="lritIDType">
            <xs:pattern value="[4][0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ddpLRITIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The LRIT identifier is a four digit, unique identifier assigned to each
Contracting Government, ASP, Data Centre, and SAR Service.  In
addition, the LRIT DDP server and IDE will each be assigned an LRIT id.

A DDPServer's LRIT id will be 0001.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="lritIDType">
            <xs:enumeration value="0001"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ideLRITIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The LRIT identifier is a four digit, unique identifier assigned to each
Contracting Government, ASP, Data Centre, and SAR Service.  In
addition, the LRIT DDP server and IDE will each be assigned an LRIT id.

A DDPServers's LRIT id will be 0002.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="lritIDType">
            <xs:enumeration value="0002"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="msgIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The “Message ID#” parameter is a unique identification number that 
LRIT components can use to identify individual messages within the 
LRIT network. The Message ID# is generated by linking together the 
LRIT ASP ID, UTC date time stamp and a 5 digit unique sequence 
decimal number. The unique sequence number is generated by the ASP 
and the date consists of the year, month, day, hour, minute and 
second in which the parameter was generated. An example of a message
ID would be 01992007013011552311111 (LRIT ASP ID = 0199, 
year = 2007, month = 01, day = 30, hour = 11, minute = 55, 
second = 23, unique number = 11111).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})(20[0-2][0-9])(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])([0-1][0-9]|2[0-3])([0-5][0-9])([0-5][0-9])([0-9]{5})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="refIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The “Reference ID#” parameter will be the message ID of an 
associated request message.  A valid “Reference ID” value indicates 
that a request message has initiated the LRIT positional data 
report.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="()|(([0-9]{4})(20[0-2][0-9])(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])([0-1][0-9]|2[0-3])([0-5][0-9])([0-5][0-9])([0-9]{5}))"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="imoNumType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The IMO Number is the International Maritime Organization (IMO)
unique ship identifier.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="shipNameType">
        <xs:annotation>
            <xs:documentation xml:lang="en">The name of the ship.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="mmsiNumType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The MMSI Number is the Maritime Mobile Service Identity unique ship 
identifier.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="testType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The test indicator is set to 1 if the message is a test message,
otherwise it is 0.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ddpUpdateTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The DDP update type is one of the following:

0 - a full DDP
1 - an incremental update
2 - an immediate update
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="responseTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The “Response Type” parameter provides information with respect to why 
the receiving LRIT Data User (value of Destination parameter) is receiving 
the LRIT ship positional data. The LRIT Data User will be entitled to 
receive the LRIT ship positional data based upon functioning as: a Flag 
State; a Port State; a Coastal State; or a SAR Service.  If responding to 
a SAR request, the response type would be SAR; if responding to a Port State
request, the response type would be Port; if responding to a Coastal State
request, the response type would be Coastal; if responding to a Flag State
request, the response type would be Flag.  Values are defined as follows:

1 - Coastal State response
2 - Flag State response
3 - Port State response
4 - SAR response
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="latitudeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
WGS84 latitude position of the ship: degrees, minutes and decimal 
minutes to two decimal places N (North) / S (South). (nn.nn.nn.c)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="([0-8][0-9]\.[0-5][0-9]\.[0-9][0-9]\.[nNsS])|(90\.00\.00\.[nNsS])"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="messageType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The “Message” parameter provides textual information associated
with a message.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ddpVersionNumType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The “DDP Version #” parameter indicates the version number of the 
DDP that is being used by the Data Centre sending the message.

The format is N.M where N is the Major DDP version, and M
indicates an immediate update version.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+\.[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="pricingVersionNumType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The “Pricing Version #” parameter indicates the version number 
of the Pricing file that is attached in the pricing update message.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>
    <xs:simpleType name="longitudeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
WGS84 longitude position of the ship, degrees, minutes and decimal 
minutes to two decimal places E (East) / W (West).  (nnn.nn.nn.c)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="([0-1][0-7][0-9]\.[0-5][0-9]\.[0-9][0-9]\.[eEwW])|(180\.00\.00\.[eEwW])"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="locodeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
A 5-character string, where the first two letters are the ISO 
3166-1;1997 Alpha-2 code for the Contracting Government or non 
metropolitan territories where the port is located.  The subsequent 
3 characters are usually 3 letters, but may contain digits where a 
temporary code has been assigned by the UN ECE (who maintain UN/LOCODE).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}([A-Z0-9]){3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="imoPortFacilityNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
A unique identifier assigned by the Maritime Security module of 
GISIS to port facilities declared by Contracting Governmanets.  
This value is the concatentation of the UN/LOCODE of the port 
containing the facility and 4 digits, separated by a hyphen.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}([A-Z0-9]){3}-[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="placeCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
A globally unique code for places under the jurisdiction of 
Contracting Governments.  This is a 6-character string where 
the first three letters are the ISO 3166-1;1977 Alpha-3 code of 
the Contracting Government or non-metropolitan territory where 
the place is located, followed by 3 digits.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}([0-9]){3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="percentageValueType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
A value representing a percentage.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:float">
            <xs:pattern value="[0-9]*(.[0-9]{1,2})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="priceValueType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
A value representing a price.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:float">
            <xs:pattern value="[0-9]*(.[0-9]{1,4})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="currencyType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
A three-character currency code from the ISO 4217 currency code list.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
