resources/xsd4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://gisis.imo.org/XML/LRIT/receipt/2008" xmlns:lrit="http://gisis.imo.org/XML/LRIT/types/2008" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://gisis.imo.org/XML/LRIT/receipt/2008">
    <xs:import namespace="http://gisis.imo.org/XML/LRIT/types/2008" schemaLocation="xsd1.xsd"/>
    <xs:simpleType name="messageTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The “Message Type” parameter indicates the type of message of the 
associated LRIT message.  A value of 7 indicates a Receipt message. 
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="receiptCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
The “Receipt code” parameter provides information with respect to 
the specific receipt message that has been generated.   

0 – “Not entitled to data” receipt message is generated by a 
    Data Centre when it determines that the requesting LRIT Data 
    User is not entitled to receive the data it has requested.
1 – “No ship in SAR SURPIC area” is generated in response to a 
    SAR SURPIC request message if a Data Centre that is processing 
    a LRIT SAR SURPIC request message determines that there are no 
    ships contained within the geographical area defined in the 
    SAR SURPIC message. 
2 – “IDE not available” is generated when the IDE is not available 
    for any reason. The receipt message will typically be generated
    by a Data Centre in order to indicate that the IDE is off line. 
    A Data Centre can detect this type of error by using the System 
    Status message transmitted from the IDE.
3 – “DC not available” is generated when a Data Centre is not 
    available. The IDE is responsible for determining if all Data 
    Centres are on line, as indicated by the System Status message.
4 – “CSP not available” is generated when a Data Centre has 
    determined a CSP is off line. The Data Centre would be responsible 
    for detecting when the CSP is not available.
5 – “Ship not responding” can be generated by any Data Centre. All 
    Data Centres will be responsible for detecting if ships registered 
    to that Data Centre are transmitting regular LRIT position reports. 
    If a LRIT Data User requests LRIT reports from a ship that is not 
    responding, then the Data Centre to which the ship is registered 
    should generate a receipt message with text content stating how 
    long the ship has not been responding.
6 – “Ship not available” will be generated by a Data Centre when a 
    request has been made for position reports associated with a ship 
    registered to that Data Centre that has never reported.
7 – “System Fault” is generated when a fault occurs in the system that 
    is not covered by the other receipt codes.
8 – “Could not load DDP” is generated when a Data Centre or the IDE 
    is unable to process the received DDP. The message will be sent 
    to the DDP server for appropriate action.
9 – “Incorrect DDP Version, message discarded” is generated by the 
    IDE when the DDP version Number parameter contained within the 
    LRIT message is not a currently valid DDP Version Number.  The
    IDE will discard the message and build a receipt message with 
    the reference ID populated with the message ID of the discarded 
    message.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="256"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Receipt" type="ReceiptType"/>
    <xs:complexType name="ReceiptType">
        <xs:sequence>
            <xs:element name="MessageType" type="messageTypeType"/>
            <xs:element name="MessageId" type="lrit:msgIDType"/>
            <xs:element name="ReferenceId" type="lrit:msgIDType"/>
            <xs:element name="ReceiptCode" type="receiptCodeType"/>
            <xs:element name="Destination" type="lrit:lritIDType"/>
            <xs:element name="Originator" type="lrit:lritIDType"/>
            <xs:element name="Message" type="lrit:messageType"/>
            <xs:element name="TimeStamp" type="xs:dateTime"/>
            <xs:element name="DDPVersionNum" type="lrit:ddpVersionNumType"/>
        </xs:sequence>
        <xs:attribute default="0" name="test" type="lrit:testType" use="optional"/>
    </xs:complexType>
</xs:schema>
